.boxnav{
  width: 100%;
  align-items: center;
  display: flex;
 
}

.outerContainer{
  display: flex;
  flex-wrap: wrap;
}
.title{
    display: flex;
    /* align-items: flex-start; */
    color: rgb(47, 102, 141);
    padding-left: 60px;

   
}

.rightlinks {
    display: flex;
    justify-content: space-evenly;
    /* width: 400px; */
  }
  .navlink {
    color: #7153a3;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* font-size: 16px; */
  }
  .navlink:hover{
    color: #0b090e;
  }
  .outerContainer {
    width: 100%;
    padding: 10px 0 5px;
    height: 100px;
  }
  
  .iconMoon{
    cursor: pointer;
  }
 
  @media screen and (min-width: 450px){
    .navtwo{
       width: 60%;
   }
   .nav1{
       width: 40%;

   }
   
}