.heroRightDiv{
    display: flex;
    /* justify-content: space-between; */
    
}
.box2{
   
    /* background-color: rgb(151, 117, 184); */
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(42, 165, 58); */
    width: 20%;
}
.profimg{
    width: 349px;
    height: 349px;
    border-radius: 200px;
}
.heroDiv{
    /* background-color: rgb(179, 131, 43); */
    width: 40%;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;

}
.one1{
    /* background-color: blue; */
    height: 500px;
    display: flex;
    flex-direction: column;
}
.two{
    /* background-color: blueviolet; */
    height: 500px;
    display: flex;
    flex-direction: column;

}
.alexaclass{
    display: flex;
    flex-direction: column;
    
}
.proftitl{
    font-size: 60px;
    /* background-color: blueviolet; */
}
.subtitle{
    font-size: 35px;
    /* background-color: blueviolet; */
    color: rgb(135, 136, 133);
}
.profdetl{
    font-size: 30px;
    /* background-color: blueviolet; */
    color: rgb(147, 148, 144);
}
.kicon{
    font-size: 50px;
    color: #7153a3;
}
.kicon:hover{
    color: white;
    background-color:rgb(0, 0, 0);
    
}
.three{
    /* background-color: rgb(219, 113, 113); */

    height: 500px;
}
.box{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contactButn{
    width: 150px;
    height: 60px;
    background-color: #7153a3;
    display: flex;
    border-radius: 15px;
    align-items: center ;
    justify-content: center;
    font-size: 18px;
    font-weight:bold;
    color: white;
    margin-top: 24px;
    cursor: pointer;
    
}

.scrolldown{
    width: 150px;
    height: 50px;
    /* background-color: #7153a3; */
    display: flex;
    border-radius: 15px;
    align-items: center ;
    justify-content: center;
    font-size: 18px;
    font-weight:lighter;
    color: black;
    margin-top: 54px;
    border: 2px solid black;
    /* margin-left: 370PX; */
    cursor: pointer;
}

@media screen and (min-width: 450px){
     .two, .three{
        width: 40%;
    }
    .one1{
        width: 20%;

    }
    
}
/* @media screen and (min-width: 800px){
     .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
     }
    
} */